{% extends 'layouts/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Pensionnaires
{% endblock %}
{% block content %}
    <nav class="mb-2" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="#!">Pensionnaires</a></li>
            <li class="breadcrumb-item active">Actifs</li>
        </ol>
    </nav>
    <div class="pb-6">
        <h2 class="mb-4">{{ students.count }} Pensionnaires</h2>
        <div id="lealsTable"
             data-list='{"valueNames":["matricule","name","email","phone","birth","contry","tutor"],"page":10,"pagination":true}'>
            <div class="row g-3 justify-content-between mb-4">
                <div class="col-auto">
                    <div class="d-flex">
                        <div class="search-box me-2">
                            <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input
                                    class="form-control search-input search" type="search" placeholder="Search by name"
                                    aria-label="Search"/>
                                <span class="fas fa-search search-box-icon"></span>
                            </form>
                        </div>

                        <div class="modal fade" id="filterModal" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content border border-translucent">
                                    <form id="addEventForm" method="post" action="" autocomplete="off">
                                        {% csrf_token %}
                                        <div class="modal-header border-translucent p-4">
                                            <h5 class="modal-title text-body-highlight fs-6 lh-sm">Exporter</h5>
                                            <button class="btn p-1 text-body" type="button" data-bs-dismiss="modal"
                                                    aria-label="Close"><span class="fas fa-times fs-9"></span></button>
                                        </div>
                                        <div class="modal-body pt-4 pb-2 px-4">
                                            {% for field in form %}
                                                <div class="mb-3">
                                                    {% render_field field %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer d-flex justify-content-end align-items-center px-4 pb-4 border-0 pt-3">
                                            {#                                            <button class="btn btn-sm btn-phoenix-primary px-4 fs-10 my-0"#}
                                            {#                                                    type="submit"><span class="fas fa-arrows-rotate me-2 fs-10"></span>Reset#}
                                            {#                                            </button>#}
                                            <button class="btn btn-sm btn-success px-9 fs-10 my-0" type="submit">Exporter
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="d-md-flex justify-content-between">
                        <div>
                            <!-- <button class="btn btn-primary me-4" type="button" data-bs-toggle="modal"
                                    data-bs-target="#addDealModal" aria-haspopup="true" aria-expanded="false"
                                    data-bs-reference="parent"><span class="fas fa-plus me-2"></span>Add Deal
                            </button> -->
                            <a class="btn btn-primary me-4" type="button"
                               href="{% url 'add-new-student' %}"><span class="fas fa-plus me-2"></span>Nouveau
                            </a>
                            <button class="btn btn-outline-success" type="button" data-bs-toggle="modal"
                                    data-bs-target="#filterModal" data-boundary="window" aria-haspopup="true"
                                    aria-expanded="false" data-bs-reference="parent">
                                <span class="fa-solid fa-file-export fs-9 me-2"></span>Exporter
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            {% if object_list %}

            {% endif %}
            <div class="table-responsive scrollbar mx-n1 px-1 border-top border-translucent">
                <table class="table table-bordered fs-9 mb-0 leads-table" id="tb_actives">
                    <thead>
                    <tr>
                        <th class="align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                            <div class="d-inline-flex flex-center">
                                <div class="d-flex align-items-center px-1 py-1 bg-secondary-subtle rounded me-2"><span
                                        class="text-primary-dark" data-feather="hash"></span></div>
                                <span>Matricule</span>
                            </div>

                        </th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col"
                            data-sort="name" style="width:25%;">
                            <div class="d-inline-flex flex-center">
                                <div class="d-flex align-items-center px-1 py-1 bg-secondary-subtle rounded me-2"><span
                                        class="text-primary-dark" data-feather="user-check"></span></div>
                                <span> Nom & Prénoms</span>
                            </div>

                        </th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col"
                            data-sort="email" style="width:15%;">
                            <div class="d-inline-flex flex-center">
                                <div class="d-flex align-items-center px-1 py-1 bg-success-subtle rounded me-2"><span
                                        class="text-success-dark" data-feather="mail"></span></div>
                                <span>Email</span>
                            </div>
                        </th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col"
                            data-sort="phone" style="width:10%;">
                            <div class="d-inline-flex flex-center">
                                <div class="d-flex align-items-center px-1 py-1 bg-primary-subtle rounded me-2">
                                    <span class="text-primary-dark" data-feather="phone"></span></div>
                                <span>Tél.</span>
                            </div>
                        </th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col"
                            data-sort="birth" style="width:15%;">
                            <div class="d-inline-flex flex-center">
                                <div class="d-flex align-items-center px-1 py-1 bg-info-subtle rounded me-2"><span
                                        class="text-info-dark" data-feather="calendar"></span></div>
                                <span>Date de Nais</span>
                            </div>
                        </th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col"
                            data-sort="country" style="width:15%;">
                            <div class="d-inline-flex flex-center">
                                <div class="d-flex align-items-center px-1 py-1 bg-warning-subtle rounded me-2"><span
                                        class="text-warning-dark" data-feather="globe"></span></div>
                                <span>Nationalité</span>
                            </div>
                        </th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase" scope="col" data-sort="tutor"
                            style="width:15%;">
                            <div class="d-inline-flex flex-center">
                                <div class="d-flex align-items-center px-1 py-1 bg-primary-subtle rounded me-2"><span
                                        class="text-primary-dark" data-feather="user"></span></div>
                                <span>Tuteur</span>
                            </div>

                        </th>
                        <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="list" id="leal-tables-body">
                    {% if object_list %}

                        {% for student in object_list %}
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent">
                                    {{ student.matricule }}
                                </td>
                                <td class="name align-middle white-space-nowrap ps-2">
                                    <div class="d-flex align-items-center">
                                        <a href="#!">
                                            <div class="avatar avatar-xl me-3">
                                                {% if student.photo %}
                                                    <img class="rounded-circle" src="{{ student.photo.url }}" alt=""/>
                                                {% else %}
                                                    <img class="rounded-circle" src="" alt=""/>
                                                {% endif %}

                                            </div>
                                        </a>
                                        <div>
                                            <a class="fs-8 fw-bold"
                                               href="{% url 'student-details' student.id %}">{{ student }}</a>
                                            <div class="d-flex align-items-center">
                                                <p class="mb-0 text-body-highlight fw-semibold fs-9 me-2">{{ student.branch.label }}
                                                </p>
                                                <!-- <span class="badge badge-phoenix badge-phoenix-primary">new lead</span> -->
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="email align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent">
                                    <a class="text-body-highlight"
                                       href="mailto:{{ student.email }}">{{ student.email }}</a>
                                </td>
                                <td class="phone align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent">
                                    <a class="text-body-highlight"
                                       href="tel:{{ student.phone }}">{{ student.phone }}</a>
                                </td>
                                <td class="contact align-middle white-space-nowrap ps-4 border-end border-translucent fw-semibold text-body-highlight">
                                    {{ student.birth_date | date:"d-m-Y" }} à {{ student.lieu_naissance }}
                                </td>
                                <td class="company align-middle white-space-nowrap text-body-tertiary text-opacity-85 ps-4 border-end border-translucent fw-semibold text-body-highlight">
                                    {{ student.country.name }}
                                </td>
                                <td class="date align-middle white-space-nowrap text-body-tertiary text-opacity-85 ps-4 text-body-tertiary">


                                    <div>
                                        <p class="fs-8 fw-bold">
                                            {{ student.tutor }}
                                        </p>
                                        <div class="d-flex align-items-center">
                                            <a class="" href="tel:{{ student.tutor_contact }}">
                                                <p class="mb-0 text-body-highlight fw-semibold fs-9 me-2">
                                                    {{ student.tutor_contact }}
                                                </p>
                                            </a>
                                            <!-- <span class="badge badge-phoenix badge-phoenix-primary">new lead</span> -->
                                        </div>
                                    </div>

                                </td>
                                <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                    <div class="btn-reveal-trigger position-static">
                                        <a class="btn btn-sm btn-outline-info me-1 mb-1 show-form-update"
                                           type="button" href="{% url 'student-details' student.id %}"
                                           data-bs-toggle="tooltip" data-bs-placement="top" title="Infos">
                                            <span class="fas fa-eye"></span>
                                        </a>
                                        <a class="btn btn-sm btn-outline-warning me-1 mb-1 show-form-update"
                                           type="button" href="{% url 'update-student' student.id %}"
                                           data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
                                            <span class="fas fa-edit"></span>
                                        </a>

                                    </div>
                                </td>
                            </tr>

                        {% empty %}

                        {% endfor %}

                    {% endif %}


                    </tbody>
                </table>
            </div>
            <div class="row align-items-center justify-content-center py-4 pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a
                        class="fw-semibold" href="#!" data-list-view="*">Voir Tout<span class="fas fa-angle-right ms-1"
                                                                                        data-fa-transform="down-1"></span></a><a
                        class="fw-semibold d-none" href="#!" data-list-view="less">Voir Moins<span
                        class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span>
                    </button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span
                            class="fas fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var ShowForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: "get",
                    dataType: "json",
                    beforeSend: function () {
                        $("#addNewModal").modal("show");
                    },
                    success: function (data) {
                        $("#addNewModal .modal-content").html(data.html_form);
                    },
                });
            };

            var SaveForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("data-url"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: "json",
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#tb_year tbody").html(data.annee_list);
                            $("#primary").modal("hide");
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 5000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: "Enregistrement effectué avec succès !"
                            });
                        } else {
                            $("#primary .modal-content").html(data.html_form);
                        }
                    },
                });
                return false;
            };

            //  create année
            $(".show-form").click(ShowForm);
            $("#primary").on("submit", ".create-form", SaveForm);

            //update année
            $("#tb_year").on("click", ".show-form-update", ShowForm);
            $("#primary").on("submit", ".update-form", SaveForm);

            //delete année
            $("#tb_year").on("click", ".show-form-delete", ShowForm);
            $("#primary").on("submit", ".delete-form", SaveForm);

            <!-- ===================================== Promotions ========================== -->

            var SavePromoForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("data-url"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: "json",
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#tb_promo tbody").html(data.promo_list);
                            $("#primary").modal("hide");
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 5000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: "Enregistrement effectué avec succès !"
                            });
                        } else {
                            $("#primary .modal-content").html(data.html_form);
                        }
                    },
                });
                return false;
            };

            //  create promotion
            $(".show-form").click(ShowForm);
            $("#primary").on("submit", ".create-promo", SavePromoForm);

            // update promotion
            $("#tb_promo").on("click", ".show-form-update", ShowForm);
            $("#primary").on("submit", ".update-promo", SavePromoForm);


            <!-- ============================ Ecole ==================== -->

            var SaveSchoolForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("data-url"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: "json",
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#tb_school tbody").html(data.school_list);
                            $("#primary").modal("hide");
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 5000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: "Enregistrement effectué avec succès !"
                            });
                        } else {
                            $("#primary .modal-content").html(data.html_form);
                        }
                    },
                });
                return false;
            };

            //  create ecole
            $(".show-form").click(ShowForm);
            $("#primary").on("submit", ".create-school", SaveSchoolForm);

            //update ecole
            $("#tb_school").on("click", ".show-form-update", ShowForm);
            $("#primary").on("submit", ".update-school", SaveSchoolForm);

            //delete ecole
            $("#tb_school").on("click", ".show-form-delete", ShowForm);
            $("#primary").on("submit", ".delete-school", SaveSchoolForm);


            <!--============================= Filiere ============================-->

            var SaveBranchForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("data-url"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: "json",
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#tb_branch tbody").html(data.branch_list);
                            $("#primary").modal("hide");
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 5000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: "Enregistrement effectué avec succès !"
                            });
                        } else {
                            $("#primary .modal-content").html(data.html_form);
                        }
                    },
                });
                return false;
            };

            //  create filière
            $(".show-form").click(ShowForm);
            $("#primary").on("submit", ".create-branch", SaveBranchForm);

            //update filière
            $("#tb_branch").on("click", ".show-form-update", ShowForm);
            $("#primary").on("submit", ".update-branch", SaveBranchForm);

            //delete filière
            $("#tb_branch").on("click", ".show-form-delete", ShowForm);
            $("#primary").on("submit", ".delete-branch", SaveBranchForm);

        });
    </script>
{% endblock %}
