{% extends 'layouts/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Nouveau Pensionnaire
{% endblock %}

{% block content %}
    <nav class="mb-2" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="#!">Pensionnaires</a></li>
            <li class="breadcrumb-item"><a href="{% url 'student-actives' %}">Actifs</a></li>
            <li class="breadcrumb-item active">Nouveau</li>
        </ol>
    </nav>
    <div class="border-bottom border-translucent mb-7 mx-n3 px-2 mx-lg-n6 px-lg-6">
        <div class="row">
            <div class="col-xl-9">
                <div class="d-sm-flex justify-content-between">
                    <h2 class="mb-4">Ajouter un nouveau Pensionnaire</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-10 ">
            <form class="row g-3 mb-9" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row g-4">
                    <h4 class="mb-2">Informations du Pensionnaire </h4>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <div class="row g-3">
                                <div class="col-sm-6 col-lg-12 col-xl-6">
                                    <label class="text-body-highlight fw-bold mb-2">Matricule</label>
                                    <input class="form-control" type="text" name="matricule" value="{{ matricule }}"
                                           placeholder="Enter value" readonly/>
                                </div>
                                <div class="col-sm-6 col-lg-12 col-xl-6">
                                    <label class="text-body-highlight fw-bold mb-2">Promotion</label>
                                    {% render_field form.promotion class="form-select" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Filière</label>
                            {% render_field form.branch class="form-select" %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Nom</label>
                            {% render_field form.last_name class="form-control" %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Prénom</label>
                            {% render_field form.first_name class="form-control" %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Date de naissance</label>
                            {% render_field form.birth_date class="form-control datetimepicker" %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Lieu de naissance</label>
                            {% render_field form.lieu_naissance class="form-control" %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Télélphone</label>
                            {% render_field form.phone class="form-control" %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                         <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Email</label>
                            {% render_field form.email class="form-control" %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Nationalité</label>
                            {% render_field form.country class="form-control" %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Ville</label>
                            {% render_field form.city class="form-control" %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Date d'entrée</label>
                            {% render_field form.date_entering class="form-control datetimepicker" %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-end position-relative mb-4">
                            <div class="row g-4 mb-4">
                                <div class="col-md-auto">
                                    <div class="dz-preview dz-preview-single">
                                        <div class="dz-preview-cover d-flex align-items-center justify-content-center mb-2 mb-md-0">
                                            <div class="avatar avatar-4xl">
                                                <img class="rounded-circle avatar-placeholder"
                                                     src="../../../../static/assets/img/team/avatar.webp"
                                                     alt="..."
                                                     />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
{#                                    {% render_field form.photo class="form-control" %}#}
                                    <div class="dz-message dropzone-area px-2 py-3">
                                        <div class="text-center text-body-emphasis">
                                            <h5 class="mb-2">
                                                <input type="file" name="image" accept="image/jpeg" onChange="readURL(this)" style="opacity: 0; cursor: pointer">
{#                                                {% render_field form.photo onChange="readURL(this)" style="opacity: 0; cursor: pointer" %}#}
                                                <span class="fa-solid fa-upload me-2" style=""></span>Sélectionnez une photo
                                            </h5>
                                             <p class="mb-0 fs-9 text-body-tertiary text-opacity-85 lh-sm">
                                                 Upload a jpg image with <br/>a maximum size of 5MB
                                             </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="mt-6">Informations du Tuteur</h4>
                    <div class="col-sm-6 col-md-4">
                        <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Nom</label>
                            {% render_field form.tutor class="form-control" %}
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Téléphone</label>
                            {% render_field form.tutor_contact class="form-control" %}
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="mb-2">
                            <label class="text-body-highlight fw-bold mb-2">Addresse</label>
                            {% render_field form.tutor_address class="form-control" %}
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end mt-6">
                    <button type="submit" class="btn btn-primary">Enregister</button>
                </div>
            </form>

        </div>

    </div>
{% endblock %}
{% block scripts %}
    <script>
        // Assurez-vous que Dropzone est chargé après votre élément HTML
        function readURL(input) {
            if (input.files && input.files[0]){
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar-placeholder').attr("src", e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

{% endblock %}