{% extends 'layouts/_base.html' %}
{% load static %}
{% block title %}
    Student Infos
{% endblock %}

{% block content %}
    <div class="pb-9">
        <div class="card mb-5">
            <div class="card-header hover-actions-trigger d-flex justify-content-center align-items-end position-relative mb-7 mb-xxl-0"
                 style="min-height: 214px; ">
                <div class="bg-holder rounded-top"
                     style="background-image:url({% static '/assets/img/generic/cover-bg.png' %});">
                </div>
                <!--<input class="d-none" id="upload-cover-image" type="file"/>-->
                <label class="cover-image-file-input" for="upload-cover-image"></label>
                <div class="hover-actions end-0 bottom-0 pe-1 pb-2 text-white dark__text-gray-1100">
                    <span class="fa-solid fa-camera me-2 overlay-icon"></span>
                </div>
                <!--/.bg-holder-->
                {#                <input class="d-none" id="upload-porfile-picture" type="file"/>#}
                <div class=" feed-profile" style="width: 150px; height: 150px">
                    <div class=" rounded-circle d-flex flex-center z-1"
                         style="--phoenix-bg-opacity: .56;">
                        {#                        <span class="fa-solid fa-camera fs-1 text-body-quaternary"#}
                        {#                                                                  data-bs-theme="light"></span>#}
                    </div>
                    <div class="position-relative bg-body-quaternary rounded-circle cursor-pointer d-flex flex-center mb-xxl-7">
                        <div class="avatar avatar-5xl"><img
                                class="rounded-circle rounded-circle img-thumbnail shadow-sm border-0"
                                src="{{ student.photo.url }}" alt=""/></div>
                        <label class="w-100 h-100 position-absolute z-1" for="upload-porfile-picture"></label>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-xl-between">
                    <div class="col-auto">
                        <div class="d-flex flex-wrap mb-3 align-items-center">
                            <h2 class="me-2">{{ student }}</h2>
                        </div>
                        <div class="mb-5">
                            <div class="d-md-flex align-items-center">
                                <div class="d-flex align-items-center">
                                    <span class="fa-solid fa-calendar fs-8 text-body-tertiary me-2 me-lg-1 me-xl-2"></span>

                                    <a class="text-body-emphasis" href="#!">
                                        <span class="fs-7 fw-bold text-body-tertiary text-opacity-85 text-body-emphasis-hover">
                                            Né le {{ student.birth_date }} à {{ student.lieu_naissance }}

                                        </span>&nbsp;
                                    </a>
                                </div>&nbsp;

                                <div class="d-flex align-items-center"><span
                                        class="fa-solid fa-location-dot fs-8 text-body-tertiary me-2 me-lg-1 me-xl-2"></span><a
                                        class="text-body-emphasis" href="#!"><span
                                        class="fs-7 fw-semibold text-body-tertiary text-opacity-85 text-body-emphasis-hover">{{ student.city }}, {{ student.country.name }}</span>
                                </a>&nbsp;
                                </div>&nbsp;

                                <div class="d-flex align-items-center"><span
                                        class="fa-solid fa-graduation-cap fs-8 text-body-tertiary me-2 me-lg-1 me-xl-2"></span>
                                    <a
                                            class="text-body-emphasis" href="#!">
                                        <span class="fs-7 fw-semibold text-body-tertiary text-opacity-85 text-body-emphasis-hover">{{ student.branch.label }}
                                        <span class="fw-semibold ms-1 me-4"></span></span></a>
                                </div>&nbsp;

                                <div class="d-flex align-items-center"><span
                                        class="fa-solid fa-users fs-8 text-body-tertiary me-2 me-lg-1 me-xl-2"></span><a
                                        class="text-body-emphasis" href="#!"><span
                                        class="fs-7 fw-semibold text-body-tertiary text-opacity-85 text-body-emphasis-hover">{{ student.promotion.name }}</span>
                                </a>&nbsp;
                                </div>&nbsp;
                            </div>
                        </div>
                        {#                        <p class="fs-6 text-body-secondary">“Whenever you find yourself on the side of the majority, it#}
                        {#                            is time to pause and reflect.”</p>#}
                    </div>
                    <div class="col-auto">

                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-xl-6 col-xxl-5">
                <div class="card border h-100 w-100 overflow-hidden">
                    <div class="bg-holder d-block bg-card"
                         style="background-image:url({% static 'assets/img/spot-illustrations/32.png' %});background-position: top right;"></div>
                    <!--/.bg-holder-->
                    <div class="d-dark-none">
                        <div class="bg-holder d-none d-sm-block d-xl-none d-xxl-block bg-card"
                             style="background-image:url({% static 'assets/img/spot-illustrations/21.png' %});background-position: bottom right; background-size: auto;"></div>
                        <!--/.bg-holder-->
                    </div>
                    <div class="d-light-none">
                        <div class="bg-holder d-none d-sm-block d-xl-none d-xxl-block bg-card"
                             style="background-image:url({% static 'assets/img/spot-illustrations/dark_21.png' %});background-position: bottom right; background-size: auto;"></div>
                        <!--/.bg-holder-->
                    </div>
                    <div class="card-body px-5 position-relative">
                        <h4 class="text-end">{{ student.matricule }}</h4>
                        <div class="d-flex mb-3">
                            <div class="avatar avatar-5xl">
                                <img class="rounded-soft " src="{{ student.photo.url }}" alt=""/>
                            </div>
                            <div class="table-responsive scrollbar ps-4">
                                <table class="">
                                    <tr>
                                        <td class="fw-bolder"><span class="fas fa-user-graduate"></span>
                                        </td>
                                        <td class="fw-semibold ps-2">
                                            {{ student.last_name }} {{ student.first_name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bolder fs-8"><span class="fas fa-calendar"></span>
                                        </td>
                                        <td class="fw-semibold ps-2">{{ student.birth_date }}
                                            à {{ student.lieu_naissance }}</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bolder fs-8"><span
                                                class="fas fa-map-marker-alt"></span></td>
                                        <td class="fw-semibold ps-2">{{ student.city }}, {{ student.country.name }}</td>
                                    </tr>

                                    <tr>
                                        <td class="fw-bolder fs-8"><span class="fas fa-phone"></span></td>
                                        <td class="fw-semibold ps-2">{{ student.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bolder fs-8"><span class="fas fa-envelope"></span>
                                        </td>
                                        <td class="fw-semibold ps-2">{{ student.email }}</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bolder fs-8"><span class="fas fa-users"></span>
                                        </td>
                                        <td class="fw-semibold ps-2">{{ student.promotion.name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bolder fs-8"><span class="fas fa-graduation-cap"></span>
                                        </td>
                                        <td class="fw-semibold ps-2">{{ student.branch.label }}</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bolder fs-8"><span class="fas fa-file-contract"></span>
                                        </td>
                                        <td class="fw-semibold ps-2">
                                            {% if student.social_situation %}
                                            {{ student.social_situation }}

                                            {% else %}
                                            	---
                                            {% endif %}
                                        </td>
                                    </tr>

                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer border-0 py-0 px-5 z-1">
                        <p class="text-body-tertiary fw-semibold">
                            <br class="d-none d-xxl-block"/> </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-5">
                <div class="card border h-100 w-100 overflow-hidden">
                    <div class="bg-holder d-block bg-card"
                         style="background-image:url({% static 'assets/img/spot-illustrations/32.png' %});background-position: top right;"></div>
                    <!--/.bg-holder-->
                    <div class="d-dark-none">
                        <div class="bg-holder d-none d-sm-block d-xl-none d-xxl-block bg-card"
                             style="background-image:url({% static 'assets/img/spot-illustrations/21.png' %});background-position: bottom right; background-size: auto;"></div>
                        <!--/.bg-holder-->
                    </div>
                    <div class="d-light-none">
                        <div class="bg-holder d-none d-sm-block d-xl-none d-xxl-block bg-card"
                             style="background-image:url({% static 'assets/img/spot-illustrations/dark_21.png' %});background-position: bottom right; background-size: auto;"></div>
                        <!--/.bg-holder-->
                    </div>
                    <div class="card-body px-5 position-relative">
                        <h3 class="text-center mb-5">Résultats Scolaire</h3>
                        <div class="d-flex mb-3">

                            <div class="table-responsive scrollbar ps-4">
                                <table class="table table-bordered border-primary" style="width: 500px">
                                    {% for r in results %}
                                        <tr>
                                            <td class="align-middle white-space-nowrap ps-3 pe-3">{{ r.academic_year }}
                                            </td>
                                            <td class="align-middle white-space-nowrap ps-3 pe-3">
                                                <p class="text-body-secondary fs-8 mb-0">{{ r.average | floatformat:2 }} / 20</p>
                                                <div class="progress" style="height:5px;">
                                                    <div class="progress-bar bg-success" style="width: {{ r.proportion }}%"
                                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                         role="progressbar"></div>
                                                </div>
                                            </td>
                                            <td class="align-middle white-space-nowrap ps-3 pe-3">
                                                {% if r.average <= 12 %}
                                                	Passable
                                                {% elif r.average <= 14 %}
                                                	Assez-Bien
                                                {% elif r.average <= 16 %}
                                                	Bien
                                                {% elif r.average <= 18 %}
                                                	Très-Bien
                                                {% else %}
                                                    Excellent
                                                {% endif %}
                                            </td>

                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="3" class="fw-bolder ps-4 pe-4 align-center justify-content-center">Aucune Moyenne Annuelle enregistré
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-0 py-0 px-5 z-1">

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}