{% extends 'layouts/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Pensionnaire
{% endblock %}

{% block content %}
    <nav class="mb-2" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
            <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
            <li class="breadcrumb-item active">Default</li>
        </ol>
    </nav>
    <div class="border-bottom border-translucent mb-7 mx-n3 px-2 mx-lg-n6 px-lg-6">
        <div class="row">
            <div class="col-xl-9">
                <div class="d-sm-flex justify-content-between">
                    <h2 class="mb-4">Ajouter un nouveau Pensionnaire</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-10 ">
            <form class="row g-3 mb-9" method="post" action="">
                {% csrf_token %}

                <div class="row g-4">
                    <h4 class="mb-3">Informations du Pensionnaire </h4>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <div class="row g-3">
                                <div class="col-sm-6 col-lg-12 col-xl-6">
                                    <label class="text-body-highlight fw-bold mb-2">Matricule</label>
                                    <input class="form-control" type="text" placeholder="Enter value" readonly/>
                                </div>
                                <div class="col-sm-6 col-lg-12 col-xl-6">
                                    <label class="text-body-highlight fw-bold mb-2">Promotion</label>
                                    {% render_field form.promotion class="form-select" %}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Nom</label>
                            {% render_field form.last_name class="form-control" %}
                        </div>

                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Date de naissance</label>
                            {% render_field form.birth_date class="form-control datetimepicker" %}
                        </div>
                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Télélphone</label>
                            {% render_field form.phone class="form-control" %}
                        </div>
                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Nationalité</label>
                            {% render_field form.nationality class="form-control" %}
                        </div>
                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Date d'entrée</label>
                            {% render_field form.date_entering class="form-control datetimepicker" %}
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Filière</label>
                            {% render_field form.branch class="form-select" %}
                        </div>
                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Prénom</label>
                            {% render_field form.first_name class="form-control" %}
                        </div>
                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Lieu de naissance</label>
                            {% render_field form.lieu_naissance class="form-control" %}
                        </div>
                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Email</label>
                            {% render_field form.email class="form-control" %}
                        </div>
                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Ville</label>
                            {% render_field form.city class="form-control" %}
                        </div>
                        <div class="d-flex align-items-end position-relative mb-4">
                            <div class="row g-4 mb-4" data-dropzone="data-dropzone"
                                 data-options='{"maxFiles":1}'>
                                <div class="fallback">{% render_field form.photo %}</div>
                                <div class="col-md-auto">
                                    <div class="dz-preview dz-preview-single">
                                        <div class="dz-preview-cover d-flex align-items-center justify-content-center mb-2 mb-md-0">
                                            <div class="avatar avatar-4xl">
                                                <img class="rounded-circle avatar-placeholder"
                                                     src="{% static '/assets/img/team/avatar.webp' %}"
                                                     alt="..."
                                                     data-dz-thumbnail="data-dz-thumbnail"/>
                                            </div>
                                            <div class="dz-progress">
                                                <span class="dz-upload" data-dz-uploadprogress=""></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="dz-message dropzone-area px-2 py-3" data-dz-message="data-dz-message">
                                        <div class="text-center text-body-emphasis">
                                            <h5 class="mb-2">
                                                <span class="fa-solid fa-upload me-2"></span>Sélectionnez une photo
                                            </h5>
                                            <p class="mb-0 fs-9 text-body-tertiary text-opacity-85 lh-sm">Upload a
                                                300x300
                                                jpg image with <br/>a maximum size of 400KB</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="mt-6">Informations du Tuteur</h4>
                    <div class="col-sm-6 col-md-4">
                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Nom</label>
                            {% render_field form.tutor class="form-control" %}
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Téléphone</label>
                            {% render_field form.tutor_contact class="form-control" %}
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="mb-3">
                            <label class="text-body-highlight fw-bold mb-2">Addresse</label>
                            {% render_field form.tutor_address class="form-control" %}
                        </div>
                    </div>
                    {#                    <div class="row g-4 mb-4" data-dropzone="data-dropzone"#}
                    {#                         data-options='{"maxFiles":1,"data":[{"name":"avatar.webp","size":"54kb","url":"../../assets/img/team"}]}'>#}
                    {#                        <div class="fallback"><input type="file" name="file"/></div>#}
                    {#                        <div class="col-md-auto">#}
                    {#                            <div class="dz-preview dz-preview-single">#}
                    {#                                <div class="dz-preview-cover d-flex align-items-center justify-content-center mb-2 mb-md-0">#}
                    {#                                    <div class="avatar avatar-4xl">#}
                    {#                                        <img class="rounded-circle avatar-placeholder"#}
                    {#                                             src="{% static '/assets/img/team/avatar.webp' %}"#}
                    {#                                             alt="..."#}
                    {#                                             data-dz-thumbnail="data-dz-thumbnail"/>#}
                    {#                                    </div>#}
                    {#                                    <div class="dz-progress">#}
                    {#                                        <span class="dz-upload" data-dz-uploadprogress=""></span>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-md">#}
                    {#                            <div class="dz-message dropzone-area px-2 py-3" data-dz-message="data-dz-message">#}
                    {#                                <div class="text-center text-body-emphasis">#}
                    {#                                    <h5 class="mb-2">#}
                    {#                                        <span class="fa-solid fa-upload me-2"></span>Upload Profile Picture#}
                    {#                                    </h5>#}
                    {#                                    <p class="mb-0 fs-9 text-body-tertiary text-opacity-85 lh-sm">Upload a 300x300#}
                    {#                                        jpg image with <br/>a maximum size of 400KB</p>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
                <div class="col-12 d-flex justify-content-end mt-6">
                    <button type="submit" class="btn btn-primary">Enregister</button>
                </div>
            </form>

        </div>

    </div>
{% endblock %}
