{% extends 'layouts/_base.html' %}
{% block title %}
    Paramètres
{% endblock %}
{% block content %}
    <nav class="mb-2" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Tableau de bord</a></li>
            <li class="breadcrumb-item active">Paramètres</li>
        </ol>
    </nav>
    <div class="pb-5">
        <div class="row g-4">
            <div class="d-flex justify-content-center mb-2">
                <div class="col-6 col-xxl-3">
                    <ul class="nav nav-underline fs-6" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active fs-8" id="home-tab" data-bs-toggle="tab"
                               href="#tab-home"
                               role="tab" aria-controls="tab-home" aria-selected="true">Années
                                Académiques</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-8" id="promo-tab" data-bs-toggle="tab"
                                                href="#tab-promo"
                                                role="tab" aria-controls="tab-promo" aria-selected="false">Promotions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-8" id="profile-tab" data-bs-toggle="tab" href="#tab-profile"
                                                role="tab" aria-controls="tab-profile" aria-selected="false">Ecoles/Universtés
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-8" id="contact-tab" data-bs-toggle="tab" href="#tab-contact"
                               role="tab" aria-controls="tab-contact" aria-selected="false">Filières</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row g-4">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="col-6 col-xxl-3">

                                <div id="tableYear"
                                     data-list='{"valueNames":["name"],"page":5,"pagination":true}'>
                                    <div class="row justify-content-end g-0">
                                        <div class="col-auto px-3">
                                            <div class="mb-3">
                                                <button class="btn btn-primary me-4  show-form"
                                                        data-url="{% url 'create-year' %}"><span
                                                        class="fas fa-plus me-2"></span>Ajouter
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-sm fs-9 mb-0" id="tb_year">
                                            <thead>
                                            <tr class="bg-body-highlight">
                                                <th class="sort border-top border-translucent ps-3">
                                                    #
                                                </th>
                                                <th class="sort border-top text-uppercase text-center border-translucent"
                                                    data-sort="name">
                                                    Années-Académiques
                                                </th>
                                                <th class="sort border-top border-translucent text-end pe-3">Action
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody class="list">
                                            {% include 'app/settings/years/list.html' %}

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="page-link disabled" data-list-pagination="prev" disabled="">
                                            <svg class="svg-inline--fa fa-chevron-left" aria-hidden="true"
                                                 focusable="false" data-prefix="fas" data-icon="chevron-left" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                 data-fa-i2svg="">
                                                <path fill="currentColor"
                                                      d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path>
                                            </svg>
                                            <!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com -->
                                        </button>
                                        <ul class="mb-0 pagination">
                                            <li class="active">
                                                <button class="page" type="button" data-i="1" data-page="5">1</button>
                                            </li>
                                            <li>
                                                <button class="page" type="button" data-i="2" data-page="5">2</button>
                                            </li>
                                        </ul>
                                        <button class="page-link pe-0" data-list-pagination="next">
                                            <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true"
                                                 focusable="false" data-prefix="fas" data-icon="chevron-right"
                                                 role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                 data-fa-i2svg="">
                                                <path fill="currentColor"
                                                      d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path>
                                            </svg>
                                            <!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com -->
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-promo" role="tabpanel" aria-labelledby="promo-tab">
                    <div class="row g-4">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="col-6 col-xxl-3">

                                <div id="tablePromotion"
                                     data-list='{"valueNames":["name","period"],"page":5,"pagination":true}'>
                                    <div class="row justify-content-end g-0">
                                        <div class="search-box mb-3 mx-auto">
                                            <form class="position-relative" data-bs-toggle="search"
                                                  data-bs-display="static"><input
                                                    class="form-control search-input search form-control-sm"
                                                    type="search" placeholder="Search" aria-label="Search"/>
                                                <span class="fas fa-search search-box-icon"></span>
                                            </form>
                                        </div>
                                        <div class="col-auto px-3">
                                            <div class="mb-3">
                                                <button class="btn btn-primary me-4  show-form"
                                                        data-url="{% url 'create-promo' %}"><span
                                                        class="fas fa-plus me-2"></span>Ajouter
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-sm fs-9 mb-0" id="tb_promo">
                                            <thead>
                                            <tr class="bg-body-highlight">
                                                <th class="sort border-top border-translucent ps-3">
                                                    #
                                                </th>
                                                <th class="sort border-top text-uppercase border-translucent" data-sort="name">
                                                    Nom
                                                </th>
                                                <th class="sort border-top text-uppercase border-translucent text-end pe-3"
                                                    data-sort="period">Période
                                                </th>
                                                <th class="sort border-top border-translucent text-end pe-3">
                                                    Action
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody class="list">
                                            {% include 'app/settings/promotions/list.html' %}

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="page-link disabled" data-list-pagination="prev" disabled="">
                                            <svg class="svg-inline--fa fa-chevron-left" aria-hidden="true"
                                                 focusable="false" data-prefix="fas" data-icon="chevron-left" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                 data-fa-i2svg="">
                                                <path fill="currentColor"
                                                      d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path>
                                            </svg>
                                            <!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com -->
                                        </button>
                                        <ul class="mb-0 pagination">
                                            <li class="active">
                                                <button class="page" type="button" data-i="1" data-page="5">1</button>
                                            </li>
                                            <li>
                                                <button class="page" type="button" data-i="2" data-page="5">2</button>
                                            </li>
                                        </ul>
                                        <button class="page-link pe-0" data-list-pagination="next">
                                            <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true"
                                                 focusable="false" data-prefix="fas" data-icon="chevron-right"
                                                 role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                 data-fa-i2svg="">
                                                <path fill="currentColor"
                                                      d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path>
                                            </svg>
                                            <!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com -->
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row g-4">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="col-8 col-xxl-3">

                                <div id="tableSchool"
                                     data-list='{"valueNames":["name","telephone","email","address","code"],"page":5,"pagination":true}'>
                                    <div class="row justify-content-end g-0">
                                        <div class="search-box mb-3 mx-auto">
                                            <form class="position-relative" data-bs-toggle="search"
                                                  data-bs-display="static"><input
                                                    class="form-control search-input search form-control-sm"
                                                    type="search" placeholder="Search" aria-label="Search"/>
                                                <span class="fas fa-search search-box-icon"></span>
                                            </form>
                                        </div>
                                        <div class="col-auto px-3">
                                            <div class="mb-3">
                                                <button class="btn btn-primary me-4  show-form"
                                                        data-url="{% url 'create-school' %}"><span
                                                        class="fas fa-plus me-2"></span>Ajouter
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-sm fs-9 mb-0" id="tb_school">
                                            <thead>
                                            <tr class="bg-body-highlight">
                                                <th class="sort border-top border-translucent ps-3">
                                                    #
                                                </th>
                                                <th class="sort border-top text-uppercase border-translucent" data-sort="code">
                                                    Code
                                                </th>
                                                <th class="sort border-top text-uppercase border-translucent" data-sort="name">
                                                    Nom
                                                </th>
                                                <th class="sort border-top text-uppercase border-translucent text-end pe-3"
                                                    data-sort="telephone">Téléphone
                                                </th>
                                                <th class="sort border-top text-uppercase border-translucent text-end pe-3"
                                                    data-sort="email">Email
                                                </th>
                                                <th class="sort border-top text-uppercase border-translucent text-end pe-3"
                                                    data-sort="address">Adresse
                                                </th>
                                                <th class="sort border-top text-uppercase border-translucent text-end pe-3">
                                                    Action
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody class="list">
                                            {% include 'app/settings/schools/list.html' %}

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="page-link disabled" data-list-pagination="prev" disabled="">
                                            <svg class="svg-inline--fa fa-chevron-left" aria-hidden="true"
                                                 focusable="false" data-prefix="fas" data-icon="chevron-left" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                 data-fa-i2svg="">
                                                <path fill="currentColor"
                                                      d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path>
                                            </svg>
                                            <!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com -->
                                        </button>
                                        <ul class="mb-0 pagination">
                                            <li class="active">
                                                <button class="page" type="button" data-i="1" data-page="5">1</button>
                                            </li>
                                            <li>
                                                <button class="page" type="button" data-i="2" data-page="5">2</button>
                                            </li>
                                        </ul>
                                        <button class="page-link pe-0" data-list-pagination="next">
                                            <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true"
                                                 focusable="false" data-prefix="fas" data-icon="chevron-right"
                                                 role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                 data-fa-i2svg="">
                                                <path fill="currentColor"
                                                      d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path>
                                            </svg>
                                            <!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com -->
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row g-4">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="col-8 col-xxl-auto">

                                <div id="tableBranch"
                                     data-list='{"valueNames":["name", "code"],"page":5,"pagination":true}'>
                                    <div class="row justify-content-between g-0">
                                        <div class="search-box mb-3 mx-auto col-auto">
                                            <form class="position-relative" data-bs-toggle="search"
                                                  data-bs-display="static"><input
                                                    class="form-control search-input search form-control-sm"
                                                    type="search" placeholder="Search" aria-label="Search"/>
                                                <span class="fas fa-search search-box-icon"></span>
                                            </form>
                                        </div>
                                        <div class="col-auto px-3">
                                            <div class="mb-3">
                                                <button class="btn btn-primary me-4  show-form"
                                                        data-url="{% url 'create-branch' %}"><span
                                                        class="fas fa-plus me-2"></span>Ajouter
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-sm fs-9 mb-0" id="tb_branch">
                                            <thead>
                                            <tr class="bg-body-highlight">
                                                <th class="border-top border-translucent ps-3">
                                                    #
                                                </th>
                                                <th class="sort border-top text-uppercase border-translucent" data-sort="code">
                                                    Code
                                                </th>
                                                <th class="sort border-top text-uppercase border-translucent" data-sort="name">
                                                    Libellé
                                                </th>
                                                <th class="sort border-top text-uppercase border-translucent text-end pe-3"
                                                    data-sort="payment">Action
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody class="list">
                                            {% include 'app/settings/branches/list.html' %}

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="page-link disabled" data-list-pagination="prev" disabled="">
                                            <svg class="svg-inline--fa fa-chevron-left" aria-hidden="true"
                                                 focusable="false" data-prefix="fas" data-icon="chevron-left" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                 data-fa-i2svg="">
                                                <path fill="currentColor"
                                                      d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path>
                                            </svg>
                                            <!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com -->
                                        </button>
                                        <ul class="mb-0 pagination">
                                            <li class="active">
                                                <button class="page" type="button" data-i="1" data-page="5">1</button>
                                            </li>
                                            <li>
                                                <button class="page" type="button" data-i="2" data-page="5">2</button>
                                            </li>
                                        </ul>
                                        <button class="page-link pe-0" data-list-pagination="next">
                                            <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true"
                                                 focusable="false" data-prefix="fas" data-icon="chevron-right"
                                                 role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                                 data-fa-i2svg="">
                                                <path fill="currentColor"
                                                      d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path>
                                            </svg>
                                            <!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com -->
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
    <div class="modal fade" id="primary" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-body-highlight">

            </div>
        </div>
    </div>

    <!-- modal end-->

{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            var ShowForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: "get",
                    dataType: "json",
                    beforeSend: function () {
                        $("#primary").modal("show");
                    },
                    success: function (data) {
                        $("#primary .modal-content").html(data.html_form);
                    },
                });
            };

            var SaveForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("data-url"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: "json",
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#tb_year tbody").html(data.annee_list);
                            $("#primary").modal("hide");
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 5000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: "Enregistrement effectué avec succès !"
                            });
                        } else {
                            $("#primary .modal-content").html(data.html_form);
                        }
                    },
                });
                return false;
            };

            //  create année
            $(".show-form").click(ShowForm);
            $("#primary").on("submit", ".create-form", SaveForm);

            //update année
            $("#tb_year").on("click", ".show-form-update", ShowForm);
            $("#primary").on("submit", ".update-form", SaveForm);

            //delete année
            $("#tb_year").on("click", ".show-form-delete", ShowForm);
            $("#primary").on("submit", ".delete-form", SaveForm);

            <!-- ===================================== Promotions ========================== -->

            var SavePromoForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("data-url"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: "json",
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#tb_promo tbody").html(data.promo_list);
                            $("#primary").modal("hide");
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 5000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: "Enregistrement effectué avec succès !"
                            });
                        } else {
                            $("#primary .modal-content").html(data.html_form);
                        }
                    },
                });
                return false;
            };

            //  create promotion
            $(".show-form").click(ShowForm);
            $("#primary").on("submit", ".create-promo", SavePromoForm);

            // update promotion
            $("#tb_promo").on("click", ".show-form-update", ShowForm);
            $("#primary").on("submit", ".update-promo", SavePromoForm);


            <!-- ============================ Ecole ==================== -->

            var SaveSchoolForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("data-url"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: "json",
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#tb_school tbody").html(data.school_list);
                            $("#primary").modal("hide");
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 5000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: "Enregistrement effectué avec succès !"
                            });
                        } else {
                            $("#primary .modal-content").html(data.html_form);
                        }
                    },
                });
                return false;
            };

            //  create ecole
            $(".show-form").click(ShowForm);
            $("#primary").on("submit", ".create-school", SaveSchoolForm);

            //update ecole
            $("#tb_school").on("click", ".show-form-update", ShowForm);
            $("#primary").on("submit", ".update-school", SaveSchoolForm);

            //delete ecole
            $("#tb_school").on("click", ".show-form-delete", ShowForm);
            $("#primary").on("submit", ".delete-school", SaveSchoolForm);


            <!--============================= Filiere ============================-->

            var SaveBranchForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("data-url"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: "json",
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#tb_branch tbody").html(data.branch_list);
                            $("#primary").modal("hide");
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 5000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: "Enregistrement effectué avec succès !"
                            });
                        } else {
                            $("#primary .modal-content").html(data.html_form);
                        }
                    },
                });
                return false;
            };

            //  create filière
            $(".show-form").click(ShowForm);
            $("#primary").on("submit", ".create-branch", SaveBranchForm);

            //update filière
            $("#tb_branch").on("click", ".show-form-update", ShowForm);
            $("#primary").on("submit", ".update-branch", SaveBranchForm);

            //delete filière
            $("#tb_branch").on("click", ".show-form-delete", ShowForm);
            $("#primary").on("submit", ".delete-branch", SaveBranchForm);

        });
    </script>
{% endblock %}