{% load static %}

<footer class="footer position-absolute">
    <div class="row g-0 justify-content-between align-items-center h-100">
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 mt-2 mt-sm-0 text-body">Développé par Souléiman Abou Tolhath SAMAGUI<span
                    class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br
                    class="d-sm-none"/><script>document.write(new Date().getFullYear())</script> &copy;<a class="mx-1" href="#">ISKANE BENIN</a>
            </p>
        </div>
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-body-tertiary text-opacity-85">v1.0</p>
        </div>
    </div>
</footer>