{% load static %}
<nav class="navbar navbar-top fixed-top navbar-expand-lg" id="dualNav" style="display:none;">
    <div class="w-100">
        <div class="d-flex flex-between-center dual-nav-first-layer">
            <div class="navbar-logo">
                <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarTopCollapse" aria-controls="navbarTopCollapse"
                        aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span
                        class="toggle-line"></span></span></button>
                <a class="navbar-brand me-1 me-sm-3" href="{% url 'index' %}">
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center"><img
                                src="{% static '/assets/img/icons/logo-iskane.png' %}"
                                alt="phoenix" width="27"/>
                            <p class="logo-text ms-2 d-none d-sm-block">iskane-bj</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="search-box navbar-top-search-box d-none d-lg-block"
                 style="width:25rem;">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input
                        class="form-control search-input fuzzy-search rounded-pill form-control-sm" type="search"
                        placeholder="Search..." aria-label="Search"/>
                    <span class="fas fa-search search-box-icon"></span>
                </form>

            </div>
            <ul class="navbar-nav navbar-nav-icons flex-row">
                <li class="nav-item">
                    <div class="theme-control-toggle fa-icon-wait px-2">
                        <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox"
                               data-theme-control="phoenixTheme" value="dark" id="themeControlToggle"/>
                        <label class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                               for="themeControlToggle"
                               data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme">
                            <span class="icon" data-feather="moon"></span>
                        </label>
                        <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                               for="themeControlToggle"
                               data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme">
                            <span class="icon" data-feather="sun"></span>
                        </label>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!"
                       role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       aria-haspopup="true" aria-expanded="false">
                        <div class="avatar avatar-l ">
                            <img class="rounded-circle " src="{{ request.user.profile_pic.url }}" alt=""/>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border"
                         aria-labelledby="navbarDropdownUser">
                        <div class="card position-relative border-0">
                            <div class="card-body p-0">
                                <div class="text-center pt-4 pb-3">
                                    <div class="avatar avatar-xl ">
                                        <img class="rounded-circle " src="{{ request.user.profile_pic.url }}"
                                             alt=""/>
                                    </div>
                                    <h6 class="mt-2 text-body-emphasis">{{ request.user.first_name }} {{ request.user.last_name }}</h6>
                                </div>
                            </div>
                            <div class="overflow-auto scrollbar" >
                                <ul class="nav d-flex flex-column mb-2 pb-1">
{#                                    <li class="nav-item"><a class="nav-link px-3" href="{% url 'auth:profile' %}"> <span#}
{#                                            class="me-2 text-body" data-feather="user"></span><span>Profile</span></a>#}
{#                                    </li>#}
                                    <li class="nav-item">
                                        <a class="nav-link px-3" href="{% url 'index' %}">
                                            <span class="me-2 text-body" data-feather="pie-chart"></span>Tableau de bord
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="card-footer p-0 border-top border-translucent">
{#                                <ul class="nav d-flex flex-column my-3">#}
{#                                    <li class="nav-item"><a class="nav-link px-3" href="#!"> <span#}
{#                                            class="me-2 text-body" data-feather="user-plus"></span>Add another#}
{#                                        account</a></li>#}
{#                                </ul>#}
{#                                <hr/>#}
                                <div class="px-3 mb-2 mt-2">
                                    <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="{% url 'auth:logout' %}">
                                        <span class="me-2" data-feather="log-out"> </span>Déconnexion
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse navbar-top-collapse justify-content-center" id="navbarTopCollapse">
            <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">
                <li class="nav-item">
                    <a class="nav-link lh-1" href="{% url 'index' %}">
                        <span class="fas fa-chart-pie fs-8 me-2"></span>Tableau de bord
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lh-1" href="#!" role="button"
                       data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       aria-haspopup="true" aria-expanded="false"><span
                            class="fas fa-user-graduate fs-8 me-2"></span>Pensionnaires</a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                        <li>
                            <a class="dropdown-item" href="{% url 'student-actives' %}">
                                <div class="dropdown-item-wrapper">
                                    <span class="me-2 uil" data-feather="user-check"></span>Actifs
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'student-old' %}">
                                <div class="dropdown-item-wrapper">
                                    <span class="me-2 uil" data-feather="user-x"></span>Anciens
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'student-list' %}">
                                <div class="dropdown-item-wrapper">
                                    <span class="me-2 uil" data-feather="users"></span>Tous les pensionnaires
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lh-1" href="#!" role="button"
                       data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       aria-haspopup="true" aria-expanded="false"><span
                            class="fs-8 me-2 fas fa-graduation-cap"></span>Gest. Académique</a>
                    <ul class="dropdown-menu navbar-dropdown-caret">

                        <li class="dropdown">
                            <a class="dropdown-item dropdown-toggle" id="CRM" href="#"
                               data-bs-toggle="dropdown" data-bs-auto-close="outside">
                                <div class="dropdown-item-wrapper">
                                    <span class="uil fs-8 uil-angle-right lh-1 dropdown-indicator-icon"></span>
                                    <span><span class="me-2 uil" data-feather="user-plus"></span>Inscriptions</span>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'new-enrollments' %}">
                                    <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Actives</div>
                                </a></li>
                                <li><a class="dropdown-item" href="{% url 'old-enrollments' %}">
                                    <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Anciennes</div>
                                </a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-item dropdown-toggle" id="project-management" href="#"
                               data-bs-toggle="dropdown" data-bs-auto-close="outside">
                                <div class="dropdown-item-wrapper">
                                    <span class="uil fs-8 uil-angle-right lh-1 dropdown-indicator-icon"></span>
                                    <span><span class="me-2 uil" data-feather="clipboard"></span>Résultats</span>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'new-grades' %}">
                                        <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Etud. Actifs
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'old-grades' %}">
                                        <div class="dropdown-item-wrapper"><span class="me-2 uil"></span>Anciens Etud
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        {#                        <li><a class="dropdown-item" href="#">#}
                        {#                            <div class="dropdown-item-wrapper"><span class="me-2 uil"#}
                        {#                                                                     data-feather="message-square"></span>Chat#}
                        {#                            </div>#}
                        {#                        </a></li>#}

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link lh-1" href="{% url 'settings' %}">
                        <span class="fas fa-tools fs-8 me-2"></span>Paramètres
                    </a>
                </li>
                {#                <li class="nav-item dropdown">#}
                {#                    <a class="nav-link dropdown-toggle lh-1" href="#!" role="button"#}
                {#                       data-bs-toggle="dropdown" data-bs-auto-close="outside"#}
                {#                       aria-haspopup="true" aria-expanded="false"><span#}
                {#                            class="fas fa-tools fs-8 me-2"></span>Paramètes</a>#}
                {#                    <ul class="dropdown-menu navbar-dropdown-caret">#}
                {#                        <li>#}
                {#                            <a class="dropdown-item" href="{% url 'student-actives' %}">#}
                {#                                <div class="dropdown-item-wrapper">#}
                {#                                    <span class="me-2 uil" data-feather="calendar"></span>Années Académiques#}
                {#                                </div>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                        <li>#}
                {#                            <a class="dropdown-item" href="{% url 'student-old' %}">#}
                {#                                <div class="dropdown-item-wrapper">#}
                {#                                    <span class="me-2 uil" data-feather="users"></span>Promotions#}
                {#                                </div>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                        <li>#}
                {#                            <a class="dropdown-item" href="{% url 'student-list' %}">#}
                {#                                <div class="dropdown-item-wrapper">#}
                {#                                    <span class="me-2 uil" data-feather="layers"></span>Ecoles/Universités#}
                {#                                </div>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                        <li>#}
                {#                            <a class="dropdown-item" href="{% url 'student-list' %}">#}
                {#                                <div class="dropdown-item-wrapper">#}
                {#                                    <span class="me-2 uil" data-feather="package"></span>Filières#}
                {#                                </div>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                </li>#}
            </ul>
        </div>

    </div>
</nav>
<script>
    var navbarVertical = document.querySelector('.navbar-vertical');
    navbarVertical.remove();
    dualNav.removeAttribute('style');
</script>