{% for grade in grades %}
    <tr class="hover-actions-trigger btn-reveal-trigger position-static">
        <td class="align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent">
            {{ grade.enrollment.student.matricule }}
        </td>
        <td class="name align-middle white-space-nowrap">
            <div class="d-flex align-items-center">
                <div class="fs-8 fw-bold">
                    {{ grade.enrollment.student }}
                </div>
            </div>
        </td>
        <td class="email align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent">
            {{ grade.enrollment.student.branch.label }}
        </td>
        <td class="phone align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent">
            {{ grade.enrollment.school.label }}
        </td>
        <td class="contact align-middle white-space-nowrap ps-4 border-end border-translucent fw-semibold text-body-highlight">
        {% if grade.enrollment.year == 1 %}
                1ère Année
            {% elif grade.enrollment.year == 2 %}
                2e Année
            {% elif grade.enrollment.year == 3 %}
                3e Année
            {% endif %}
        </td>
        <td class="align-middle white-space-nowrap ps-4 border-end border-translucent">
            {% if grade.semester == 1 %}
            	1er semestre
            {% else %}
            	2nd semestre
            {% endif %}
        </td>
        <td class="align-middle white-space-nowrap ps-4 border-end border-translucent">
            {{ grade.average }}
        </td>
        <td class="align-middle white-space-nowrap ps-4 border-end border-translucent">
            {{ grade.grade }}
        </td>
        <td class="align-middle white-space-nowrap pe-0 ps-4">
            <div class="btn-reveal-trigger position-static">
                {#                <a class="btn btn-sm btn-outline-info me-1 mb-1 show-form-update"#}
                {#                   type="button" href="{% url 'student-details' grade.id %}"#}
                {#                   data-bs-toggle="tooltip" data-bs-placement="top" title="Infos">#}
                {#                    <span class="fas fa-eye"></span>#}
                {#                </a>#}
                <button class="btn btn-sm btn-outline-warning me-1 mb-1 show-form-update"
                        type="button" data-url=""
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
                    <span class="fas fa-edit"></span>
                </button>
                {#                <a class="btn btn-sm btn-outline-warning me-1 mb-1 show-form-update"#}
                {#                   type="button" href="{% url 'update-student' grade.id %}"#}
                {#                   data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">#}
                {#                    <span class="fas fa-edit"></span>#}
                {#                </a>#}

            </div>
        </td>
    </tr>

{% empty %}
    <tr>
        <td colspan="9" class="text-center fs-7">Aucune donnée enregistrée</td>
    </tr>
{% endfor %}