{% for branch in branches %}
    <tr>
        <td class="align-middle  ps-3 ">{{ forloop.counter }}</td>
        <td class="align-middle white-space-nowrap ps-2 code">{{ branch.code }}</td>
        <td class="align-middle white-space-nowrap ps-2 name">{{ branch }}</td>
        <td class="align-middle white-space-nowrap text-end pe-0">
            <div class="btn-reveal-trigger position-static">
                <button class="btn btn-sm btn-outline-warning me-1 mb-1 show-form-update" type="button" data-url="{% url 'update-branch' branch.id %}"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
                    <span class="fas fa-edit"></span>
                </button>
            </div>
        </td>
    </tr>
{% empty %}
<tr>
<td colspan="3" class="text-center fs-7">Aucune donnée enregistrée</td>
</tr>
{% endfor %}
