{% extends 'layouts/_base.html' %}
{% block title %}
    Tableau de bord
{% endblock %}
{% block content %}
    <div class="pb-5">
        <div class="row g-4">
            <div class="col-12 col-xxl-auto">
                <div class="mb-8">
                    <h2 class="mb-2">Tableau de bord</h2>
{#                    <h5 class="text-body-tertiary fw-semibold">Here’s what’s going on at your business right now</h5>#}
                </div>
                <div class="row align-items-center justify-content-center g-4">
                    <div class="col-12 col-md-auto col-xxl-auto">
                        <div class="d-flex align-items-center">
                      <span class="fa-stack" style="min-height: 46px;min-width: 46px;">
                          <span class="fa-solid fa-square fa-stack-2x dark__text-opacity-50 text-warning-light"
                                data-fa-transform="down-4 rotate--10 left-4"></span>
                          <span class="fa-solid fa-circle fa-stack-2x stack-circle text-stats-circle-warning"
                                data-fa-transform="up-4 right-3 grow-2"></span>
                          <span class="fa-stack-1x fa-solid fa-user-graduate text-warning "
                                data-fa-transform="shrink-2 up-8 right-6"></span>
                      </span>
                            <div class="ms-3">
                                <h4 class="mb-0">{{ all_students }} Pensionnaires</h4>
                                {#                                <p class="text-body-secondary fs-9 mb-0">Awating processing</p>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto">
                        <div class="d-flex align-items-center">
                      <span class="fa-stack" style="min-height: 46px;min-width: 46px;">
                          <span class="fa-solid fa-square fa-stack-2x dark__text-opacity-50 text-success-light"
                                data-fa-transform="down-4 rotate--10 left-4"></span>
                          <span class="fa-solid fa-circle fa-stack-2x stack-circle text-stats-circle-success"
                                data-fa-transform="up-4 right-3 grow-2"></span>
                          <span class="fa-stack-1x fa-solid fa-user-check text-success "
                                data-fa-transform="shrink-2 up-8 right-6"></span>
                      </span>
                            <div class="ms-3">
                                <h4 class="mb-0">{{ active_students }} Actifs</h4>
                                {#                                <p class="text-body-secondary fs-9 mb-0">On hold</p>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto">
                        <div class="d-flex align-items-center">
                      <span class="fa-stack" style="min-height: 46px;min-width: 46px;">
                          <span class="fa-solid fa-square fa-stack-2x dark__text-opacity-50 text-danger-light"
                                data-fa-transform="down-4 rotate--10 left-4"></span>
                          <span class="fa-solid fa-circle fa-stack-2x stack-circle text-stats-circle-danger"
                                data-fa-transform="up-4 right-3 grow-2"></span>
                          <span class="fa-stack-1x fa-solid fa-user-times text-danger "
                                data-fa-transform="shrink-2 up-8 right-6"></span>
                      </span>
                            <div class="ms-3">
                                <h4 class="mb-0">{{ old_students }} Anciens</h4>
                                {#                                <p class="text-body-secondary fs-9 mb-0">Out of stock</p>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto">
                        <div class="d-flex align-items-center">
                      <span class="fa-stack" style="min-height: 46px;min-width: 46px;">
                          <span class="fa-solid fa-square fa-stack-2x dark__text-opacity-50 text-primary-light"
                                data-fa-transform="down-4 rotate--10 left-4"></span>
                          <span class="fa-solid fa-circle fa-stack-2x stack-circle text-stats-circle-success"
                                data-fa-transform="up-4 right-3 grow-2"></span>
                          <span class="fa-stack-1x fa-solid fa-users text-primary "
                                data-fa-transform="shrink-2 up-8 right-6"></span>
                      </span>
                            <div class="ms-3">
                                <h4 class="mb-0">{{ promos }} Promotions</h4>
                                {#                                <p class="text-body-secondary fs-9 mb-0">Awating processing</p>#}
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="bg-body-secondary mb-6 mt-4"/>
                {#                <div id="promos" style="height: 100%"></div>#}
                <div class="row mb-4 g-3">

                    <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/pie-chart.js-->
                    <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->

                    <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/pie-multiple-chart.js-->
                    <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->


                    <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/basic-bar-chart.js-->
                    <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->

                    <div class="col-6 mb-3">
                                            <h5 class="text-body-tertiary fw-semibold">Nombre d'Etudiants par Promotion</h5>
                        <canvas id="myChart1" width="300" height="200"></canvas>
                    </div>
                    <div class="col-6 mb-3">
                        <h5 class="text-body-tertiary fw-semibold">Nombre d'étudiants par Filière</h5>
                        <canvas id="myChart" width="300" height="200"></canvas>
                    </div>
                    <div class="col-6 mb-3">
                        <h5 class="text-body-tertiary fw-semibold">Nombre d'Etudiants par Ecole</h5>
                        <canvas id="myChart2" width="300" height="200"></canvas>
                    </div>
                    <div class="col-6 mb-3">
                        <h5 class="text-body-tertiary fw-semibold">Nombre de Filières par Ecole</h5>
                        <canvas id="myChart3" width="300" height="200"></canvas>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        const basicPromoBarChartInit = () => {
            const {getColor: t, getData: r} = window.phoenix.utils,
                o = document.querySelector(".promo-stats"),
                e = {{ labels|safe }},
                i = {{ data_list|safe }};
            if (o) {
                const a = r(o, "echarts"), l = window.echarts.init(o);
                echartSetOption(l, a, (() => ({
                    tooltip: {
                        trigger: "axis",
                        padding: [7, 10],
                        backgroundColor: t("body-highlight-bg"),
                        borderColor: t("border-color"),
                        textStyle: {color: t("light-text-emphasis")},
                        borderWidth: 1,
                        formatter: t => tooltipFormatter(t),
                        transitionDuration: 0,
                        axisPointer: {type: "none"}
                    },
                    xAxis: {
                        type: "category",
                        data: e,
                        axisLine: {lineStyle: {color: t("tertiary-bg"), type: "solid"}},
                        axisTick: {show: !1},
                        axisLabel: {color: t("quaternary-color"), formatter: t => t.substring(0, 3), margin: 15},
                        splitLine: {show: !1}
                    },
                    yAxis: {
                        type: "value",
                        boundaryGap: !0,
                        axisLabel: {show: !0, color: t("quaternary-color"), margin: 15},
                        splitLine: {show: !0, lineStyle: {color: t("secondary-bg")}},
                        axisTick: {show: !1},
                        axisLine: {show: !1},
                        min: 600
                    },
                    series: [{
                        type: "bar",
                        name: "Total",
                        data: i,
                        lineStyle: {color: t("primary")},
                        itemStyle: {color: t("primary"), barBorderRadius: [3, 3, 0, 0]},
                        showSymbol: !1,
                        symbol: "circle",
                        smooth: !1,
                        hoverAnimation: !0
                    }],
                    grid: {right: "3%", left: "10%", bottom: "10%", top: "5%"}
                })));
            }
        };
        const {docReady: docReady} = window.phoenix.utils;
        docReady(basicPromoBarChartInit);
    </script>
    <script type="text/javascript">
        var dom = document.getElementById("promos");
        var eChart = echarts.init(dom);
        var app = {};

        var option;


        // prettier-ignore
        let dataAxis = {{ labels|safe }};
        // prettier-ignore
        let data = {{ data_list|safe }};
        let yMax = 500;
        let dataShadow = [];
        for (let i = 0; i < data.length; i++) {
            dataShadow.push(yMax);
        }
        option = {
            title: {
                text: 'Statistic des projets par entreprise',
                subtext: 'Feature Sample: Gradient Color, Shadow, Click Zoom'
            },
            xAxis: {
                data: dataAxis,
                axisLabel: {
                    inside: false,
                    color: '#fff'
                },
                axisTick: {
                    show: false
                },
                axisLine: {
                    show: true
                },
                z: 10
            },
            yAxis: {
                axisLine: {
                    show: true
                },
                axisTick: {
                    show: false
                },
                axisLabel: {
                    color: '#999'
                }
            },
            dataZoom: [
                {
                    type: 'inside'
                }
            ],
            series: [
                {
                    type: 'bar',
                    showBackground: true,
                    itemStyle: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                            {offset: 0, color: '#83bff6'},
                            {offset: 0.5, color: '#188df0'},
                            {offset: 1, color: '#188df0'}
                        ]),
                        barBorderRadius: [5, 5, 0, 0]
                    },
                    emphasis: {
                        itemStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {offset: 0, color: '#2378f7'},
                                {offset: 0.7, color: '#2378f7'},
                                {offset: 1, color: '#83bff6'}
                            ])
                        }
                    },
                    data: data
                }
            ]
        };
        // Enable data zoom when user click bar.
        // const zoomSize = 6;
        // eChart.on('click', function (params) {
        //   console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
        //   eChart.dispatchAction({
        //     type: 'dataZoom',
        //     startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
        //     endValue:
        //       dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
        //   });
        // });

        if (option && typeof option === 'object') {
            eChart.setOption(option);
        }

    </script>
    <script type="text/javascript">
        var ctx = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [{% for label in labels %} '{{ label }}', {% endfor %}],
                datasets: [{
                    label: 'Gender',
                    data: [{% for number in data_list %} '{{ number }}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 135, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(151, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 135, 1)',
                        'rgba(25, 206, 86, 1)',
                        'rgba(211, 192, 192, 1)',
                        'rgba(234, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'gree',
                        'yellow',
                    ],

                    borderColor: [
                        'rgba(54, 162, 135, 1)',
                        'rgba(25, 206, 86, 1)',
                        'rgba(211, 192, 192, 1)',
                        'rgba(234, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',

                    ],

                    borderWidth: 1
                }]
            },

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    </script>
    <script type="text/javascript">
        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart1 = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [{% for label in school_labels %} '{{ label }}', {% endfor %}],
                datasets: [{
                    label: 'Gender',
                    data: [{% for number in school_datas %} '{{ number }}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 135, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(151, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 135, 1)',
                        'rgba(25, 206, 86, 1)',
                        'rgba(211, 192, 192, 1)',
                        'rgba(234, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'gree',
                        'yellow',
                    ],

                    borderColor: [
                        'rgba(54, 162, 135, 1)',
                        'rgba(25, 206, 86, 1)',
                        'rgba(211, 192, 192, 1)',
                        'rgba(234, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',

                    ],

                    borderWidth: 1
                }]
            },

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    </script>
    <script type="text/javascript">
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            label: "Nombre d'etudiant par filière",
            data: {
                labels: [{% for label in branch_labels %} '{{ label }}', {% endfor %}],
                datasets: [{
                    label: 'Pensionnaire',
                    data: [{% for data in branch_datas %} '{{ data }}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 135, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(151, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 135, 1)',
                        'rgba(25, 206, 86, 1)',
                        'rgba(211, 192, 192, 1)',
                        'rgba(234, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'gree',
                        'yellow',
                    ],

                    borderColor: [
                        'rgba(54, 162, 135, 1)',
                        'rgba(25, 206, 86, 1)',
                        'rgba(211, 192, 192, 1)',
                        'rgba(234, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',

                    ],

                    borderWidth: 1
                }]
            },

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    </script>
    <script type="text/javascript">
        var ctx = document.getElementById('myChart3').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for label in school_labels %} '{{ label }}', {% endfor %}],
                datasets: [{
                    label: 'Filière',
                    data: [{% for data in branches_datas %} '{{ data }}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 135, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(151, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 135, 1)',
                        'rgba(25, 206, 86, 1)',
                        'rgba(211, 192, 192, 1)',
                        'rgba(234, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'gree',
                        'yellow',
                    ],

                    borderColor: [
                        'rgba(54, 162, 135, 1)',
                        'rgba(25, 206, 86, 1)',
                        'rgba(211, 192, 192, 1)',
                        'rgba(234, 102, 132, 1)',
                        'rgba(153, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',

                    ],

                    borderWidth: 1
                }]
            },

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    </script>
{% endblock %}