{% load static %}
{% load widget_tweaks %}
<div class="modal-header border-0 mb-2">
    <h3 class="mb-0">Ancienne Inscription</h3>
    <button class="btn btn-sm btn-phoenix-secondary" data-bs-dismiss="modal" aria-label="Close"><span
            class="fas fa-times text-danger"></span></button>
</div>
<form class="form form-vertical create-form" method="post" data-url="{% url 'add-old-enr' %}">
    {% csrf_token %}
    <div class="modal-body">
        <div class="mb-3 {% if form.student.errors %} has-error{% endif %}">
            <label for="{{ form.student.id_for_label }}" class="form-label">{{ form.student.label }}</label>
            {% render_field form.student %}
            {% for error in form.student.errors %}
                <p class="help">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="mb-3 {% if form.academicYear.errors %} has-error{% endif %}">
            <label for="{{ form.academicYear.id_for_label }}" class="form-label">{{ form.academicYear.label }}</label>
            {% render_field form.academicYear class="form-select" %}
            {% for error in form.academicYear.errors %}
                <p class="help">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="mb-3 {% if form.school.errors %} has-error{% endif %}">
            <label for="{{ form.school.id_for_label }}" class="form-label">{{ form.school.label }}</label>
            {% render_field form.school class="form-select" %}
            {% for error in form.school.errors %}
                <p class="help">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="mb-3 {% if form.year.errors %} has-error{% endif %}">
            <label for="{{ form.year.id_for_label }}" class="form-label">{{ form.year.label }}</label>
            {% render_field form.year  class="form-select" %}
            {% for error in form.year.errors %}
                <p class="help">{{ error }}</p>
            {% endfor %}
        </div>
{#        {% for field in form %}#}
{#            <div class="mb-3 {% if field.errors %} has-error{% endif %}">#}
{#                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>#}
{#                {% render_field field class="form-select" %}#}
{#                {% for error in field.errors %}#}
{#                    <p class="help">{{ error }}</p>#}
{#                {% endfor %}#}
{#            </div>#}
{##}
{#        {% endfor %}#}
    </div>
    <div class="modal-footer border-0 pt-2">
        <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Annuler</button>
        <button class="btn btn-primary my-0">Create Deal</button>
    </div>
</form>