{% load static %}
{% load widget_tweaks %}
<div class="modal-header border-0 mb-2">
    <h3 class="mb-0">Nouvelle Inscription</h3>
    <button class="btn btn-sm btn-phoenix-secondary" data-bs-dismiss="modal" aria-label="Close"><span
            class="fas fa-times text-danger"></span></button>
</div>
<form class="form form-vertical create-form" method="post" data-url="{% url 'add-active' %}">
    {% csrf_token %}
    <div class="modal-body">
        {% for field in form %}
            <div class="mb-3 {% if field.errors %} has-error{% endif %}">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                    <p class="help">{{ error }}</p>
                {% endfor %}
            </div>

        {% endfor %}
    </div>
    <div class="modal-footer border-0 pt-2">
        <button class="btn btn-link text-danger px-3 my-0" data-bs-dismiss="modal" aria-label="Close">
            Cancel
        </button>
        <button class="btn btn-primary my-0">Create Deal</button>
    </div>
</form>