{% extends 'layouts/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Inscriptions
{% endblock %}
{% block content %}
    <nav class="mb-2" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="#!">Inscriptions</a></li>
            <li class="breadcrumb-item active">Actives</li>
        </ol>
    </nav>
    <div class="pb-6">
        <h2 class="mb-4">{{ enrollments.count }} Inscriptions Actives</h2>
        <div id="lealsTable"
             data-list='{"valueNames":["matricule","name","email","phone","birth","contry","tutor"],"page":10,"pagination":true}'>
            <div class="row g-3 justify-content-between mb-4">
                <div class="col-auto">
                    <div class="d-md-flex justify-content-between">
                        <div>
                            <!-- <button class="btn btn-primary me-4" type="button" data-bs-toggle="modal"
                                    data-bs-target="#addDealModal" aria-haspopup="true" aria-expanded="false"
                                    data-bs-reference="parent"><span class="fas fa-plus me-2"></span>Add Deal
                            </button> -->
                            <button class="btn btn-primary me-4 show-form" type="button"
                                    data-url="{% url 'add-active' %}"><span class="fas fa-plus me-2"></span>Nouvelle
                            </button>
                            {#                            <button class="btn btn-link text-body px-0" type="button" data-bs-toggle="modal"#}
                            {#                                    data-bs-target="#filterModal" data-boundary="window" aria-haspopup="true"#}
                            {#                                    aria-expanded="false" data-bs-reference="parent">#}
                            {#                                <span class="fa-solid fa-file-export fs-9 me-2"></span>Exporter#}
                            {#                            </button>#}
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="d-flex">
                        <div class="search-box me-2">
                            <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input
                                    class="form-control search-input search" type="search" placeholder="Search by name"
                                    aria-label="Search"/>
                                <span class="fas fa-search search-box-icon"></span>
                            </form>
                        </div>

                        <div class="modal fade" id="filterModal" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content border border-translucent">
                                    <form id="addEventForm" method="post" action="" autocomplete="off">
                                        {% csrf_token %}
                                        <div class="modal-header border-translucent p-4">
                                            <h5 class="modal-title text-body-highlight fs-6 lh-sm">Exporter</h5>
                                            <button class="btn p-1 text-body" type="button" data-bs-dismiss="modal"
                                                    aria-label="Close"><span class="fas fa-times fs-9"></span></button>
                                        </div>
                                        <div class="modal-body pt-4 pb-2 px-4">
                                            {% for field in form %}
                                                <div class="mb-3">
                                                    {% render_field field %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer d-flex justify-content-end align-items-center px-4 pb-4 border-0 pt-3">
                                            {#                                            <button class="btn btn-sm btn-phoenix-primary px-4 fs-10 my-0"#}
                                            {#                                                    type="submit"><span class="fas fa-arrows-rotate me-2 fs-10"></span>Reset#}
                                            {#                                            </button>#}
                                            <button class="btn btn-sm btn-primary px-9 fs-10 my-0" type="submit">Done
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive scrollbar mx-n1 px-1 border-top border-translucent">
                <table class="table table-bordered fs-9 mb-0 leads-table" id="tb_actives">
                    <thead>
                    <tr>
                        <th class="align-middle ps-4 pe-5 text-uppercase border-end border-translucent">
                            <div class="d-inline-flex flex-center">
                                <div class="d-flex align-items-center px-1 py-1 bg-secondary-subtle rounded me-2"><span
                                        class="text-primary-dark" data-feather="hash"></span></div>
                                <span>Matricule</span>
                            </div>

                        </th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col"
                            data-sort="name" style="width:25%;">
                            <div class="d-inline-flex flex-center">
                                <div class="d-flex align-items-center px-1 py-1 bg-secondary-subtle rounded me-2"><span
                                        class="text-primary-dark" data-feather="user-check"></span></div>
                                <span> Nom & Prénoms</span>
                            </div>

                        </th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col"
                            data-sort="email" style="width:15%;">
                            <div class="d-inline-flex flex-center">
                                <div class="d-flex align-items-center px-1 py-1 bg-success-subtle rounded me-2"><span
                                        class="text-success-dark" data-feather="mail"></span></div>
                                <span>Filière</span>
                            </div>
                        </th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col"
                            data-sort="phone" style="width:10%;">
                            <div class="d-inline-flex flex-center">
                                <div class="d-flex align-items-center px-1 py-1 bg-primary-subtle rounded me-2">
                                    <span class="text-primary-dark" data-feather="phone"></span></div>
                                <span>Ecole</span>
                            </div>
                        </th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col"
                            data-sort="birth" style="width:15%;">
                            <div class="d-inline-flex flex-center">
                                <div class="d-flex align-items-center px-1 py-1 bg-info-subtle rounded me-2"><span
                                        class="text-info-dark" data-feather="calendar"></span></div>
                                <span>Année</span>
                            </div>
                        </th>

                        <th class="sort text-end text-uppercase align-middle pe-0 ps-4" scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="list" id="leal-tables-body">


                    {% include 'app/academy/enrollment/new_enr_list2.html' %}


                    </tbody>
                </table>
            </div>
            <div class="row align-items-center justify-content-center py-4 pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a
                        class="fw-semibold" href="#!" data-list-view="*">Voir Tout<span class="fas fa-angle-right ms-1"
                                                                                        data-fa-transform="down-1"></span></a><a
                        class="fw-semibold d-none" href="#!" data-list-view="less">Voir Moins<span
                        class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span>
                    </button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span
                            class="fas fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Deals Modal--->
    <div class="modal fade" id="addNewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="addNewModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-body-highlight">

            </div>
        </div>
    </div>

    {#    grade modal #}
    <div class="modal fade" id="gradeModal" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="gradeModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-body-highlight">
                <div class="modal-header border-0 mb-2">
                    <h3 class="mb-0">Nouveau Résultat</h3>
                    <button class="btn btn-sm btn-phoenix-secondary" data-bs-dismiss="modal" aria-label="Close"><span
                            class="fas fa-times text-danger"></span></button>
                </div>
                <form id="gradeForm" class="form form-vertical create-grade-form" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="enrollment_id" id="enrollmentId">
                        {% for field in form %}
                            <div class="mb-3 {% if field.errors %} has-error{% endif %}">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {% render_field field class="form-control" %}
                                {% for error in field.errors %}
                                    <p class="help">{{ error }}</p>
                                {% endfor %}
                            </div>

                        {% endfor %}

                    </div>
                    <div class="modal-footer border-0 pt-2">
                        <button class="btn btn-outline-secondary px-3 my-0" data-bs-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        <button class="btn btn-primary my-0">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function openGradeModal(enrollmentId) {
            $('#enrollmentId').val(enrollmentId);
            $('#gradeModal').modal('show');
        }

        $(document).ready(function () {
            var ShowForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: "get",
                    dataType: "json",
                    beforeSend: function () {
                        $("#addNewModal").modal("show");
                    },
                    success: function (data) {
                        $("#addNewModal .modal-content").html(data.html_form);
                    },
                });
            };

            var SaveForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("data-url"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: "json",
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#tb_actives tbody").html(data.enrollment_list);
                            $("#addNewModal").modal("hide");

                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 5000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                {#title: "Enregistrement effectué avec succès !"#}
                                title: data.message
                            });
                        } else {
                            $("#addNewModal .modal-content").html(data.html_form);
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 5000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "error",
                                title: data.message
                            });
                        }
                    },
                });
                return false;
            };

            //  create année
            $(".show-form").click(ShowForm);
            $("#addNewModal").on("submit", ".create-form", SaveForm);

            //update année
            $("#tb_actives").on("click", ".show-form-update", ShowForm);
            $("#addNewModal").on("submit", ".update-form", SaveForm);

            //delete année
            $("#tb_actives").on("click", ".show-form-delete", ShowForm);
            $("#addNewModal").on("submit", ".delete-form", SaveForm);


            //Add new result
            $("#tb_actives").on("click", ".show-grade-form", ShowForm);
            $("#addNewModal").on("submit", ".create-grade-form", SaveForm);


            $('#gradeForm').on('submit', function (event) {
                var form = $(this);
                event.preventDefault();
                $.ajax({
                    url: "{% url 'save_grade' %}",
                    type: "POST",
                    data: form.serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#tb_actives tbody").html(data.enrollment_list);
                            $("#gradeModal").modal("hide");

                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 5000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: data.message
                            });
                            $("#gradeForm").trigger('reset');
                        } else {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 5000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "error",
                                title: data.message
                            });
                            $('#gradeModal').modal('hide');
                            $("#gradeForm").trigger('reset');
                        }
                    },
                    /*success: function (response) {
                        if (response.status === 'success') {
                            // Handle success, e.g., close the modal
                            $('#gradeModal').modal('hide');
                        } else {
                            // Handle error
                        }
                    }*/
                });
            });


        });

    </script>
{% endblock %}