{% for enrollment in enrollments %}
    <tr class="hover-actions-trigger btn-reveal-trigger position-static">
        <td class="align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent">
            {{ enrollment.student.matricule }}
        </td>
        <td class="name align-middle white-space-nowrap">
            <div class="d-flex align-items-center">
                <div class="fs-8 fw-bold">
                    {{ enrollment.student }}
                </div>
            </div>
        </td>
        <td class="email align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent">
            {{ enrollment.student.branch.label }}
        </td>
        <td class="phone align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent">
            {{ enrollment.school.label }}
        </td>
        <td class="contact align-middle white-space-nowrap ps-4 border-end border-translucent fw-semibold text-body-highlight">
            {% if enrollment.year == 1 %}
                1ère Année
            {% elif enrollment.year == 2 %}
                2e Année
            {% elif enrollment.year == 3 %}
                3e Année
            {% endif %}
        </td>
        <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
            <div class="btn-reveal-trigger position-static">
                <button class="btn btn-sm btn-outline-primary me-1 mb-1"
                        type="button" onclick="openGradeModal({{ enrollment.id }})"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Résultat">
                    <span class="fas fa-plus"></span>
                </button>
                <button class="btn btn-sm btn-outline-warning me-1 mb-1 show-form-update" type="button"
                        data-url="{% url 'update-old-enr' enrollment.id %}"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
                    <span class="fas fa-edit"></span>
                </button>
                {#                <a class="btn btn-sm btn-outline-warning me-1 mb-1 show-form-update"#}
                {#                   type="button" href="{% url 'update-student' enrollment.id %}"#}
                {#                   data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">#}
                {#                    <span class="fas fa-edit"></span>#}
                {#                </a>#}

            </div>
        </td>
    </tr>

{% empty %}
    <tr>
        <td colspan="6" class="text-center fs-7">Aucune donnée enregistrée</td>
    </tr>
{% endfor %}