{% extends 'users/base.html' %}
{% block content %}
    <div class="col mx-auto">
        <div class="auth-form-box">
            <div class="text-center mb-5">
                <div class="avatar avatar-4xl mb-4">
                    <img class="rounded-circle" src="../../../assets/img/team/30.webp"
                                                         alt=""/>
                </div>
                <h2 class="text-body-highlight"><span class="fw-normal">Hello </span>John Smith</h2>
                <p class="text-body-tertiary">Enter your password to access <br
                        class="d-sm-none d-md-block d-xxl-none"/>the admin</p>
            </div>
            <input class="form-control mb-3" id="password" type="password" placeholder="Enter Password"/><a
                class="btn btn-primary w-100" href="../../../index.html">Sign In</a>
        </div>
    </div>
{% endblock %}