{% extends 'layouts/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <div class="mb-9">
        <div class="row g-6">
            <div class="col-12 col-xl-4">
                <div class="card mb-5">
                    <div class="card-header hover-actions-trigger position-relative mb-6" style="min-height: 130px; ">
                        <div class="bg-holder rounded-top"
                             style="background-image: linear-gradient(0deg, #000000 -3%, rgba(0, 0, 0, 0) 83%), url({% static 'assets/img/generic/59.png' %})">
                            <label
                                    class="cover-image-file-input" for="upload-settings-cover-image"></label>
                            <div class="hover-actions end-0 bottom-0 pe-1 pb-2 text-white dark__text-gray-1100"><span
                                    class="fa-solid fa-camera me-2"></span></div>
                        </div>
                        <label
                                class="avatar avatar-4xl status-online feed-avatar-profile cursor-pointer"
                                for="upload-settings-porfile-picture"><img
                                class="rounded-circle img-thumbnail shadow-sm border-0"
                                src="{{ request.user.profile_pic.url }}"
                                width="200" alt=""/></label>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap mb-2 align-items-center">
                                    <h3 class="me-2">{{ request.user.first_name }} {{ request.user.last_name }} </h3>
                                    <span class="fw-normal fs-8">u/{{ request.user }}</span>
                                </div>
                                <div class="d-flex d-xl-block d-xxl-flex align-items-center">
                                    <div class="d-flex mb-xl-2 mb-xxl-0"><span
                                            class="fa-solid fa-envelope fs-10 me-2 me-lg-1 me-xl-2"></span>
                                        <h6 class="d-inline-block mb-0">{{ request.user.email }}
                                        </h6>
                                    </div>
                                    <div class="d-flex"><span
                                            class="fa-solid fa-phone fs-10 me-2 me-lg-1 me-xl-2"></span>
                                        <h6 class="d-block d-xl-inline-block mb-0">{{ request.user.telephone }}
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-xl-8">
                <div class="mb-2">
                    <div class="mb-6">
                        <h4 class="mb-4"> Information Personnelle</h4>
                        <form action="" id="profile-form" method="post">
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <div class="form-icon-container">
                                        <div class="form-floating">
                                            {% render_field user_form.first_name class="form-control form-icon-input" %}
                                            {#                                        <input class="form-control form-icon-input"#}
                                            {#                                                                      id="firstName" type="text"#}
                                            {#                                                                      placeholder="First Name"/>#}
                                            <label
                                                    class="text-body-tertiary form-icon-label" for="firstName">FIRST
                                                NAME</label></div>
                                        <span class="fa-solid fa-user text-body fs-9 form-icon"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-icon-container">
                                        <div class="form-floating">
                                            {% render_field user_form.last_name class="form-control form-icon-input" %}
                                            {#                                        <input class="form-control form-icon-input" id="lastName"#}
                                            {#                                                                      type="text" placeholder="Last Name"/>#}
                                            <label
                                                    class="text-body-tertiary form-icon-label" for="lastName">LAST
                                                NAME</label>
                                        </div>
                                        <span class="fa-solid fa-user text-body fs-9 form-icon"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-icon-container">
                                        <div class="form-floating">
                                            {% render_field user_form.email class="form-control form-icon-input" %}
                                            {#                                        <input class="form-control form-icon-input"#}
                                            {#                                                                      id="emailSocial" type="email"#}
                                            {#                                                                      placeholder="Email"/>#}
                                            <label
                                                    class="text-body-tertiary form-icon-label" for="emailSocial">ENTER
                                                YOUR
                                                EMAIL</label></div>
                                        <span class="fa-solid fa-envelope text-body fs-9 form-icon"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-icon-container">
                                        <div class="form-floating">
                                            {#                                        <input class="form-control form-icon-input" id="phone"#}
                                            {#                                                                      type="tel" placeholder="Phone"/>#}
                                            {% render_field user_form.telephone class="form-control form-icon-input" %}
                                            <label
                                                    class="text-body-tertiary form-icon-label" for="phone">ENTER YOUR
                                                PHONE</label></div>
                                        <span class="fa-solid fa-phone text-body fs-9 form-icon"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end mb-6 mt-4">
                                <div>
                                    <button class="btn btn-phoenix-primary">Enregistrer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row gx-3 mb-6 gy-6 gy-sm-3">
                        <div class="col-12 col-sm-6">
                            <h4 class="mb-4">Changer Mot de Passe</h4>
                            <form action="" id="password-form" method="post">
                                <div class="form-icon-container mb-3">
                                    <div class="form-floating"><input class="form-control form-icon-input"
                                                                      id="oldPassword"
                                                                      type="password" placeholder="Old password"/><label
                                            class="text-body-tertiary form-icon-label" for="oldPassword">Old
                                        Password</label></div>
                                    <span class="fa-solid fa-lock text-body fs-9 form-icon"></span>
                                </div>
                                <div class="form-icon-container mb-3">
                                    <div class="form-floating"><input class="form-control form-icon-input"
                                                                      id="newPassword"
                                                                      type="password" placeholder="New password"/><label
                                            class="text-body-tertiary form-icon-label" for="newPassword">New
                                        Password</label></div>
                                    <span class="fa-solid fa-key text-body fs-9 form-icon"></span>
                                </div>
                                <div class="form-icon-container">
                                    <div class="form-floating"><input class="form-control form-icon-input"
                                                                      id="newPassword2"
                                                                      type="password"
                                                                      placeholder="Confirm New password"/><label
                                            class="text-body-tertiary form-icon-label" for="newPassword2">Confirm New
                                        Password</label></div>
                                    <span class="fa-solid fa-key text-body fs-9 form-icon"></span>
                                </div>
                                <div class="text-end mb-3 mt-4">
                                    <div>
                                        <button class="btn btn-phoenix-primary">Enregistrer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>

    </script>
{% endblock %}