{% extends 'users/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="col mx-auto">
        <div class="auth-form-box">
            <div class="text-center mb-5">
                <a class="d-flex flex-center text-decoration-none mb-4"
                   href="{% url 'index' %}">
                    <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
                        <img
                                src="{% static '/assets/img/icons/logo-iskane.png' %}" alt="phoenix" width="100"/>
                    </div>
                </a>
                <h3 class="text-body-highlight">Inscription</h3>
                <p class="text-body-tertiary">Créez votre compte pour commencer</p>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3 text-start">
                    <label class="form-label" for="name">Nom d'utilisateur</label>
                    {% render_field form.username class="form-control" %}
                    {#                    <input class="form-control" id="name" type="text" placeholder="Name"/></div>#}
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label" for="email">Email address</label>
                    {% render_field form.email class="form-control" %}
                    {#                    <input class="form-control" id="email" type="email" placeholder="name@example.com"/></div>#}
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-xl-6">
                        <label class="form-label" for="password">Mot de passe</label>
                        {% render_field form.password1 class="form-control form-icon-input" %}
                        {#                        <input class="form-control form-icon-input" id="password" type="password" placeholder="Password"/>#}
                    </div>
                    <div class="col-xl-6">
                        <label class="form-label" for="confirmPassword">Confirmation</label>
                        {% render_field form.password2 class="form-control form-icon-input" %}
                        {#                        <input class="form-control form-icon-input" id="confirmPassword" type="password" placeholder="Confirm Password"/>#}
                    </div>
                </div>
                <!-- <div class="form-check mb-2">
                    <input class="form-check-input" id="termsService" type="checkbox"/>
                    <label class="form-label fs-9 text-transform-none" for="termsService">
                        I accept the <a href="#!">terms </a>and <a href="#!">privacy policy</a>
                    </label>
                </div> -->
                <button type="submit" class="btn btn-primary w-100 mb-3">Enregistrer</button>
                <div class="text-center">Vous avez déjà un compte ? <a class="fs-9 fw-bold"
                                                                       href="{% url 'auth:signin' %}">Connectez-vous</a>


                </div>
            </form>
        </div>
    </div>
{% endblock %}