{% extends 'users/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="col mx-auto">
        <div class="auth-form-box">
            <div class="text-center mb-7"><a class="d-flex flex-center text-decoration-none mb-4"
                                             href="{% url 'index' %}">
                <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                        src="{% static '/assets/img/icons/logo-iskane.png' %}" alt="phoenix" width="100"/></div>
            </a>
                <h3 class="text-body-highlight">Connexion</h3>
                <p class="text-body-tertiary">Accédez à votre compte</p>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3 text-start"><label class="form-label" for="username">Adresse mail ou nom
                    d'utilisateur</label>
                    <div class="form-icon-container">
                        {% render_field form.username class="form-control form-icon-input" %}
                        {#                        <input class="form-control form-icon-input" id="username" name="username" type="email" placeholder="name@example.com"/>#}
                        <span class="fas fa-user text-body fs-9 form-icon"></span>
                    </div>
                </div>
                <div class="mb-3 text-start"><label class="form-label" for="password">Mot de passe</label>
                    <div class="form-icon-container">
                        {% render_field form.password class="form-control form-icon-input" %}
                        {#                        <input class="form-control form-icon-input" id="password" type="password" placeholder="Password"/>#}
                        <span class="fas fa-key text-body fs-9 form-icon"></span>
                    </div>
                </div>
                <div class="row flex-between-center mb-4">
                     <div class="col-auto">
                      <!--  <div class="form-check mb-0">
                            <input class="form-check-input" id="basic-checkbox" type="checkbox" checked="checked"/>
                            <label class="form-check-label mb-0" for="basic-checkbox">Remember me </label>
                        </div>-->
                    </div>
                    <div class="col-auto"><a class="fs-9 fw-semibold" href="#">Mot de passe oublié ?</a></div>
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-3">Connexion</button>
                <div class="text-center">Vous n'avez pas un compte ?
                    <a class="fs-9 fw-bold" href="{% url 'auth:signup' %}">Créez-en</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}