{% load widget_tweaks %}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Ajouter Ecole/Université</h5>
    <button class="btn btn-sm btn-phoenix-secondary" data-bs-dismiss="modal" aria-label="Close"><span
            class="fas fa-times text-danger"></span></button>
</div>
<form class="form form-vertical create-school" method="post" data-url="{% url 'create-school' %}">
    {% csrf_token %}
    <div class="modal-body">
        {% for field in form %}
            <div class="mb-2 {% if field.errors %} has-error{% endif %}">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {% render_field field class="form-control datetimepicker flatpickr-input" %}
                {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>

        {% endfor %}
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary" type="button">Enregister</button>
    </div>
</form>